In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Past_Booking.csv")
df

,Booking_ID,User_ID,Provider_ID,Service_ID,Booking_Date,Service_Date,Service_Location,Booking_Status,Payment_Status,Service_Time,Booking_Time
0,30644,1244,1,1,24-01-2024,27-01-2024,25,Confirmed,Pending,23:06:17,10:31:33
1,18682,755,1,1,22-01-2024,30-01-2024,25,Cancelled,Refunded,10:47:27,04:31:12
2,31026,1259,1,1,23-01-2024,02-02-2024,25,Cancelled,Pending,19:59:05,23:05:07
3,21286,866,1,1,30-01-2024,06-02-2024,25,Cancelled,Pending,06:13:40,16:13:16
4,6333,255,1,1,02-02-2024,07-02-2024,25,Cancelled,Refunded,11:58:53,13:26:25
...,...,...,...,...,...,...,...,...,...,...,...
33031,25763,1039,2700,10,17-05-2021,26-05-2021,27,Confirmed,Pending,03:45:13,14:43:42
33032,27857,1129,2700,10,22-05-2021,29-05-2021,27,Cancelled,Failed,15:57:45,11:22:13
33033,26493,1065,2700,10,29-05-2021,01-06-2021,27,Cancelled,Pending,11:53:54,20:16:23
33034,13772,558,2700,10,29-05-2021,05-06-2021,27,Cancelled,Paid,13:16:34,20:04:22
33035,19994,806,2700,10,30-05-2021,06-06-2021,27,Confirmed,Refunded,20:19:47,01:49:06

In [3]:

import numpy as np


# Convert date columns to datetime
df["Booking_Date"] = pd.to_datetime(df["Booking_Date"], format="%d-%m-%Y")
df["Service_Date"] = pd.to_datetime(df["Service_Date"], format="%d-%m-%Y")

# Compute lead time
df["Lead_Time"] = (df["Service_Date"] - df["Booking_Date"]).dt.days

# Convert service time to hour and categorize
df["Service_Time"] = pd.to_datetime(df["Service_Time"], format="%H:%M:%S").dt.hour

def categorize_time(hour):
    if 6 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour < 22:
        return "Evening"
    else:
        return "Night"

df["Service_Time_Slot"] = df["Service_Time"].apply(categorize_time)

# Assign base fare
np.random.seed(42)  
service_base_fares = {sid: np.random.randint(300, 1001) for sid in df["Service_ID"].unique()}
df["Base_Fare"] = df["Service_ID"].map(service_base_fares)

# Lead time adjustment
def adjust_lead_time(lead_time, base_fare):
    if lead_time > 10:
        return base_fare * 0.9  # 10% discount
    elif lead_time < 3:
        return base_fare * 1.2  # 20% surcharge
    return base_fare

df["Adjusted_Fare"] = df.apply(lambda row: adjust_lead_time(row["Lead_Time"], row["Base_Fare"]), axis=1)

# Service location adjustment
df["Location_Adjusted_Fare"] = df["Adjusted_Fare"] + (df["Service_Location"] * 10)

# Service time slot adjustment
time_slot_multipliers = {"Morning": 1.0, "Afternoon": 1.05, "Evening": 1.1, "Night": 1.15}
df["Final_Payment"] = df["Location_Adjusted_Fare"] * df["Service_Time_Slot"].map(time_slot_multipliers)

# Round off
df["Final_Payment"] = df["Final_Payment"].round(2)

# Save updated file
df.to_csv("Updated_Past_Booking.csv", index=False)

print(df[["Service_ID", "Lead_Time", "Service_Location", "Service_Time_Slot", "Base_Fare", "Final_Payment"]].head())

   Service_ID  Lead_Time  Service_Location Service_Time_Slot  Base_Fare  \
0           1          3                25             Night        402
1           1          8                25           Morning        402
2           1         10                25           Evening        402
3           1          7                25           Morning        402
4           1          5                25           Morning        402

   Final_Payment
0          749.8
1          652.0
2          717.2
3          652.0
4          652.0

In [4]:
df

,Booking_ID,User_ID,Provider_ID,Service_ID,Booking_Date,Service_Date,Service_Location,Booking_Status,Payment_Status,Service_Time,Booking_Time,Lead_Time,Service_Time_Slot,Base_Fare,Adjusted_Fare,Location_Adjusted_Fare,Final_Payment
0,30644,1244,1,1,2024-01-24,2024-01-27,25,Confirmed,Pending,23,10:31:33,3,Night,402,402.0,652.0,749.8
1,18682,755,1,1,2024-01-22,2024-01-30,25,Cancelled,Refunded,10,04:31:12,8,Morning,402,402.0,652.0,652.0
2,31026,1259,1,1,2024-01-23,2024-02-02,25,Cancelled,Pending,19,23:05:07,10,Evening,402,402.0,652.0,717.2
3,21286,866,1,1,2024-01-30,2024-02-06,25,Cancelled,Pending,6,16:13:16,7,Morning,402,402.0,652.0,652.0
4,6333,255,1,1,2024-02-02,2024-02-07,25,Cancelled,Refunded,11,13:26:25,5,Morning,402,402.0,652.0,652.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33031,25763,1039,2700,10,2021-05-17,2021-05-26,27,Confirmed,Pending,3,14:43:42,9,Night,766,766.0,1036.0,1191.4
33032,27857,1129,2700,10,2021-05-22,2021-05-29,27,Cancelled,Failed,15,11:22:13,7,Afternoon,766,766.0,1036.0,1087.8
33033,26493,1065,2700,10,2021-05-29,2021-06-01,27,Cancelled,Pending,11,20:16:23,3,Morning,766,766.0,1036.0,1036.0
33034,13772,558,2700,10,2021-05-29,2021-06-05,27,Cancelled,Paid,13,20:04:22,7,Afternoon,766,766.0,1036.0,1087.8
33035,19994,806,2700,10,2021-05-30,2021-06-06,27,Confirmed,Refunded,20,01:49:06,7,Evening,766,766.0,1036.0,1139.6

In [5]:
a = pd.read_csv("Past_Booking.csv")
a

,Booking_ID,User_ID,Provider_ID,Service_ID,Booking_Date,Service_Date,Service_Location,Booking_Status,Payment_Status,Service_Time,Booking_Time
0,30644,1244,1,1,24-01-2024,27-01-2024,25,Confirmed,Pending,23:06:17,10:31:33
1,18682,755,1,1,22-01-2024,30-01-2024,25,Cancelled,Refunded,10:47:27,04:31:12
2,31026,1259,1,1,23-01-2024,02-02-2024,25,Cancelled,Pending,19:59:05,23:05:07
3,21286,866,1,1,30-01-2024,06-02-2024,25,Cancelled,Pending,06:13:40,16:13:16
4,6333,255,1,1,02-02-2024,07-02-2024,25,Cancelled,Refunded,11:58:53,13:26:25
...,...,...,...,...,...,...,...,...,...,...,...
33031,25763,1039,2700,10,17-05-2021,26-05-2021,27,Confirmed,Pending,03:45:13,14:43:42
33032,27857,1129,2700,10,22-05-2021,29-05-2021,27,Cancelled,Failed,15:57:45,11:22:13
33033,26493,1065,2700,10,29-05-2021,01-06-2021,27,Cancelled,Pending,11:53:54,20:16:23
33034,13772,558,2700,10,29-05-2021,05-06-2021,27,Cancelled,Paid,13:16:34,20:04:22
33035,19994,806,2700,10,30-05-2021,06-06-2021,27,Confirmed,Refunded,20:19:47,01:49:06

In [6]:
a['Price'] = df['Final_Payment']
a

,Booking_ID,User_ID,Provider_ID,Service_ID,Booking_Date,Service_Date,Service_Location,Booking_Status,Payment_Status,Service_Time,Booking_Time,Price
0,30644,1244,1,1,24-01-2024,27-01-2024,25,Confirmed,Pending,23:06:17,10:31:33,749.8
1,18682,755,1,1,22-01-2024,30-01-2024,25,Cancelled,Refunded,10:47:27,04:31:12,652.0
2,31026,1259,1,1,23-01-2024,02-02-2024,25,Cancelled,Pending,19:59:05,23:05:07,717.2
3,21286,866,1,1,30-01-2024,06-02-2024,25,Cancelled,Pending,06:13:40,16:13:16,652.0
4,6333,255,1,1,02-02-2024,07-02-2024,25,Cancelled,Refunded,11:58:53,13:26:25,652.0
...,...,...,...,...,...,...,...,...,...,...,...,...
33031,25763,1039,2700,10,17-05-2021,26-05-2021,27,Confirmed,Pending,03:45:13,14:43:42,1191.4
33032,27857,1129,2700,10,22-05-2021,29-05-2021,27,Cancelled,Failed,15:57:45,11:22:13,1087.8
33033,26493,1065,2700,10,29-05-2021,01-06-2021,27,Cancelled,Pending,11:53:54,20:16:23,1036.0
33034,13772,558,2700,10,29-05-2021,05-06-2021,27,Cancelled,Paid,13:16:34,20:04:22,1087.8
33035,19994,806,2700,10,30-05-2021,06-06-2021,27,Confirmed,Refunded,20:19:47,01:49:06,1139.6

In [7]:
a.to_csv('Book.csv')